:root {
    --primary-text-color: #757575;
    --secondary-text-color: rgba(255, 255, 255, 0.6);
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-white-color: #ffffff;
    --bg-color: #2f303a;
    --secondary-bg-color: #f5f4fa;
}

body {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    background-color: var(--primary-white-color);
    letter-spacing: 0.03em;
    font-size: 14px;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

/* Лого */

.logo {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.logo-web:hover,
.logo-web:focus {
    color: var(--accent-color);
}

.logo-web {
    color: var(--accent-color);
}

/* Header without logo */

.link {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--accent-color);
}
.site-nav .link.current {
    color: var(--accent-color);
}

/* Contacts */

.contacts {
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contacts:hover,
.contacts:focus {
    color: var(--accent-color);
}


/* Hero */

.hero {
    margin-bottom: 96px;

    background-color: var(--bg-color);
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 30px;

    color: var(--primary-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.button-primary {
    padding: 10px 32px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.button-primary:hover,
.button-primary:focus {
    color: var(--primary-white-color);
    background-color: #188ce8;
}

/* Features */

.section-features {
    margin-bottom: 94px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature-list .title {
    margin-top: 0;
    margin-bottom: 10px;
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.feature-list .feature-text {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 400;
    line-height: 1.71;
}

/* Section Photo */

.section-photo {
    margin-bottom: 94px;
}

.section-photo-title {
    margin-top: 0;
    margin-bottom: 50px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

/* Our team */

.team {
    background-color: var(--primary-white-color);
}

.section-team {
    padding-bottom: 94px;
    background-color: var(--secondary-bg-color);
    text-align: center;
}

.section-team-title {
    margin-top: 0;
    margin-bottom: 50px;
    padding-top: 94px;
    
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}

.team-list .team-name {
    margin-top: 0;
    margin-bottom: 10px;

    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}

.team-list .team-position {
    margin-top: 0;
    margin-bottom: 30px;
    
    font-size: 16px;
    line-height: 1.19;
}

/* Portfolio */

.portfolio-btn-list {
    margin-bottom: 34px;
}

.portfolio-list {
    margin-bottom: 94px;
}

.button-filter {
    padding: 6px 22px;

    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    border-color: var(--secondary-bg-color);
    border-radius: 4px;
    cursor: pointer;
}

.button-filter:hover,
.button-filter:focus {
    padding: 6px 25px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.portfolio-title {
    margin-top: 20;
    margin-bottom: 4px;

    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.portfolio-type {
    margin-top: 0;
    margin-bottom: 20px;

    color: var(--primary-text-color);
    font-size: 16px;
    line-height: 1.88;
}

/* Footer */

.footer {
    background-color: var(--bg-color);
    line-height: 1.71;
}

.address {
    font-style: normal;
    font-weight: 400;
}

.footer .logo-studio {
    color: var(--primary-white-color);
}

.address .address-google-maps {
    color: var(--primary-white-color);
}

.footer-contacts {
    color: var(--secondary-text-color);
}

.footer-contacts:hover,
.footer-contacts:focus {
    color: var(--accent-color);
}
